<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Timeline</title>
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/timeline.css">
  </head>
  <body>
    <div id="example"></div>
    <script type="text/javascript" charset="utf-8" src="/libs.js"></script>
    <script type="text/javascript" charset="utf-8" src="./assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script type="text/babel" src="./assets/jsx/timeline.jsx"></script>
 </body>
</html>
